@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #3B3F42;
}

header {
    height: 80px;
    align-items: center;
    display: flex;
    background-color: white;
    padding: 0 70px;
    justify-content: center;
    border-bottom: 1px solid #EBEDEE;
}

.header-body {
    display: grid;
    width: 100%;
    
    grid-template-columns: auto auto;
}

.header-body-left-logo {
    display: flex;
    align-items: center;
}
.header-body-left{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.header-body-left-logo svg {
    padding-right: 15px;
    height: 45px;
    width: 45px;
}

.header-body-left-logo svg .blue-rect {
    height: 45px;
    width: 45px;
}

.svg-control{
    padding-right: 10px;
}

.header-body-left-logo-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #1E4CC6;
}

body {
    background: #F6F8FA;
}

main {
    min-height: calc(100vh - 60px - 90px);
}

.login-contaniner {
    height: 100%;
    padding: 40px 20px 55px;
    min-height: calc(100vh - 60px - 90px);
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-contaniner form {
    width: 420px;
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5)
}

.login-contaniner form .form-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    background-color: #3B3F42;
}

.login-contaniner form .form-body {
    padding: 40px 60px 35px;
}

.login-contaniner form .form-body .form-controll {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
}

.login-contaniner form .form-body .form-controll button {
    background-color: #1E4CC6;
    width: 100%;
    height: 43px;
    cursor: pointer;
    border: none;
    border-radius: 22px;
    color: white;
    font-size: 14px;
}

.login-contaniner form .form-body .form-controll a {
    text-align: center;
    width: 100%;
    padding: 28px 0 0;
    color: #1E4CC6;
    text-decoration: none;
}

.login-contaniner form .form-body .form-controll a:hover {
    text-decoration: underline;
}

.login-contaniner form .form-body .input-field-header {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: #3B3F42;
}

.login-contaniner form .form-body .input-field-header label {
    opacity: .5;
    padding-bottom: 7px;
}

.login-contaniner form .form-body .input-field input, .login-contaniner form .form-body .input-field select {
    width: 100%;
    font-size: 14px;
    padding: 9px 15px;
    border: 1px solid #BDC2C5;
}

.login-contaniner form .form-body .input-field textarea {
    height: 80px;
    font-size: 14px;
    padding: 9px 15px;
    border: 1px solid #BDC2C5;
    resize: none;
    width: 100%;
}

.login-contaniner form .form-body .input-field select::after {
    position: absolute;
    transform: translate();
}

.login-contaniner form .form-body .input-field-header a {
    color: #1E4CC6;
}

.login-contaniner form .form-body .input-field-header a:hover {
    text-decoration: underline;
}

.login-contaniner form .form-body .check-box {
    font-size: 14px;
    color: #3B3F42;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.login-contaniner form .form-body .check-box input {
    width: 14px;
    height: 14px;
}

.login-contaniner form .form-body .input-field-title {
    color: #3B3F42;
    font-weight: bold;
    padding-left: 25px;
    font-size: 18px;
}

.login-contaniner form .form-body .check-box * {
    display: block;
}

footer {
    display: grid;
    justify-items: center;
    padding: 0 70px;
    align-items: center;
}

.footer-container {
    width: 100%;
    border-top: 1px solid #3B3F42;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-25 {
    padding-top: 25px;
}
.padding-bottom-25{
    padding-bottom: 25px;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-40 {
    padding-top: 40px;
}

.new_order-container {
    min-height: calc(100vh - 60px - 90px);
    display: grid;
    justify-items: center;
}

.new_order-container-body {
    width: 100%;
    max-width: 1420px;
}

.new_order-comtainer-header {
    display: flex;
    padding: 25px 70px 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.new_order-container-title {
    color: #3B3F42;
    font-weight: bold;
    font-size: 32px;
    padding: 0 70px 45px;
}

.new_order-comtainer-header-breadcrumps {
    font-size: 12px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.new_order-comtainer-header-breadcrumps svg {
    fill: #7C858B;
}

.new_order-comtainer-header-breadcrump {
    color: #7C858B;
}

.new_order-meta-content-text-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_order-meta-content-text-bottom-cost {
    font-weight: bold;
    font-size: 18px;
    padding-right: 70px;
}

.new_order-container-selector {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.new_order-container-select {
    width: 220px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    flex-direction: column;
    text-align: left;
}

.new_order-container-select:hover {
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
}

.new_order-container-select-title {
    font-weight: bold;
    font-size: 16px;
    padding-top: 15px;
}

.new_order-container-select-text {
    font-size: 12px;
    padding-top: 10px;
}

.new_order-container-select-img-container {
    height: 180px;
    width: 180px;
    position: relative;
    overflow: hidden;
}

.new_order-container-select-img-container img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    position: absolute;
}

.new_order-container-select a {
    border-bottom: 0.5px dashed #1E4CC6;
    text-align: left;
    justify-self: flex-start;
    width: auto;
    color: #1E4CC6;
    padding-top: 15px;
}

.new_order-container-select a:hover {
    border-bottom: 0.5px solid #1E4CC6;
}

.new_order-meta-content::after {
    content: "";
    position: absolute;
    left: 70px;
    top: 50%;
    width: calc(100% - 140px);
    background-color: #7C858B;
    height: 1px;
}

.new_order-meta-content {
    position: relative;
    padding-left: 70px;
    margin-top: 85px;
    margin-bottom: 40px;
    height: 85px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new_order-meta-content a {
    color: #1E4CC6;
}

.new_order-container-select-popup {
    position: absolute;
    background-color: #ED3E25;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(196, 35, 0, 0.8);
    transform: translate(-38px, 10px);
}

.photobook-control>* {
    width: 100%;
}

.photobook-control-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.photobook-control-header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.photobook-control-header-left a {
    color: #1E4CC6;
}

.photobook-control-header-left button {
    padding: 13px 30px;
    border-radius: 50px;
    background-color: #1E4CC6;
    color: white;
    font-size: 14px;
    border: none;
}

.photobook-control {
    display: grid;
    justify-items: center;
    padding: 30px 30px 35px;
    width: 100%;
}

.photobook-control-shell {
    max-width: 860px;
}

.photobook-control-photobooks-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photobook-control-photobooks {
    padding: 23px 35px;
    background: #FFFFFF;
    margin-top: 20px;
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
}

.photobook-control-photobooks-header {
    display: flex;
    justify-content: space-between;
}

.photobook-control-photobooks-header .number1 {
    font-weight: 900;
    font-size: 18px;
    padding-right: 30px;
}

.photobook-control-photobooks-header .cost {
    font-weight: bold;
    font-size: 18px;
}

.photobook-control-photobooks-header-breadcrupms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
}

.photobook-control-photobooks-header .right-part {
    display: flex;
    align-items: center;
}

.photobook-control-photobooks-stupid-cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    gap: 25px;
}

.stupid-card {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.stupid-card-title {
    font-size: 10px;
    color: #9DA7AE;
    text-align: center;
}

.stupid-card-body {
    font-size: 14px;
    height: 85px;
    width: 160px;
    overflow: hidden;
    border: 1px dashed #3B3F42;
    box-shadow: 0px 1px 2px rgba(82, 126, 156, 0.5);
    position: relative;
}

.stupid-card-body img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photobook-control-photobooks-footer {
    padding: 18px 0 0;
    margin-top: 40px;
    border-top: 1px solid rgba(0, 88, 159, .15);
    display: flex;
    justify-content: space-between;
}

.photobook-control-photobooks-footer a.photobook-control-photobooks-footer-left {
    color: #1E4CC6;
}

.photobook-control-photobooks-footer a.photobook-control-photobooks-footer-left * {
    color: #1E4CC6;
}

.photobook-control-photobooks-footer a.photobook-control-photobooks-footer-right {
    color: #ED3E25;
}

.photobook-control-photobooks-footer a.photobook-control-photobooks-footer-right svg path {
    fill: #ED3E25;
}

.photobook-control-photobooks-footer>* {
    display: flex;
    align-items: center;
    gap: 10px;
}

.photobook-control-photobooks-add-btn {
    width: 100%;
    margin-top: 40px;
    border: 1px dashed #1E4CC6;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 80px;
    background-color: transparent;
    filter: drop-shadow(0px 1px 20px rgba(11, 37, 54, 0.05));
}

.photobook-control-photobooks-add-btn>div {
    display: flex;
    color: #1E4CC6;
    align-items: center;
    gap: 20px;
}

.photobook-control-photobooks-add-btn>div>div {
    color: #1E4CC6;
    font-size: 22px;
}

.order-form {
    padding: 80px 10px 55px;
    display: grid;
    justify-items: center;
}

.order-form-body {
    display: grid;
    justify-items: center;
}

.order-form form {
    max-width: 440px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
}

.order-form-body-meta-final {
    max-width: 270px;
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(124, 133, 139, 0.5);
    ;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 35px;
    font-size: 18px;
    justify-content: space-between;
}

.order-form-title {
    background-color: #3B3F42;
    color: white;
    text-align: center;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.order-form-body-meta-row {
    display: flex;
    font-size: 14px;
    width: 100%;
    max-width: 270px;
    position: relative;
    justify-content: space-between;
}

.order-form-body-meta {
    padding: 25px 0 30px;
    width: 100%;
    display: grid;
    gap: 30px;
    justify-items: center;
}

.order-form-body-meta-row-content {
    font-weight: bold;
}

.order-form-control {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.order-form-control a.order-form-control-save {
    padding-top: 20px;
    font-size: 14px;
    color: #1E4CC6;
}

.order-form-control a.order-form-control-cancel {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 40px;

    color: #ED3E25;
}
 .order-form-control textarea {
    background: #FFFFFF;
    border: 1px solid #BDC2C5;
    resize: none;
    width: 100%;
    padding: 10px 15px;
    height: 80px;
    margin-bottom: 35px;
}

.order-form-control button {
    max-width: 270px;
    width: 100%;
    font-size: 14px;
    color: white;
    height: 43px;
    border: 0;
    background: #1E4CC6;
    border-radius: 100px;
}
.header-body-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.header-body-right a{
    color: #1E4CC6;
    font-size: 14px;
}
.order-form-body-meta {}

.make-order{
    display: grid;
    grid-template-columns: 560px auto;
    gap: 80px
}
.make-order-shell{
    display: grid;
    padding-top: 45px;
    justify-content: center;
}

.make-oredr-stage-choose-city-input-container-title{
    opacity: .5;
}

.make-oredr-meta-info{
    border: 2px solid #3B3F42;
    align-self: start;
    width: 310px;
    margin-top: 30px;
}

.make-oredr-meta-info-title{
    padding: 20px 35px;
    font-weight: bold;
font-size: 18px;
    border-bottom: 1px solid #3B3F42;
}
.make-oredr-stage-choose-city-control-container{
    margin-top: 35px;
    gap: 30px;
    display: flex;
    align-items: center;
}
.make-oredr-stage-choose-city-control-container-next{
border: none;
height: 43px;
width: 180px;
color: white;
    background: #1E4CC6;
border-radius: 100px;
}
.make-oredr-stage-choose-city-control-container-back{
    font-weight: 500;
    color: #1E4CC6;
}
.make-oredr-meta-info-content-row-value{
    font-weight: 500;
}
.make-oredr-meta-info-content{
    display: flex;
    flex-direction: column;
    padding: 20px 35px 30px;
}

.make-oredr-meta-info-content-row{
    display: flex;
    font-size: 14px;
    position: relative;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(124, 133, 139, 0.3);
}

.make-oredr-meta-info-content-row:last-child {
    border-bottom: 0;
}
.make-oredr-stage-choose-city-input-container-input{
    border: 1px solid #BDC2C5;
    padding: 9px 15px;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
}

.order-form-body-meta-row:after {
    width: 100%;
    content: '';
    border-top: 1px dashed rgba(124, 133, 139, 0.3);
    transform: translate(0, 31.5px);
    position: absolute;
}

.make-oredr-stage-choose-city-title{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}

.make-oredr-stage-choose-city{
    background: #FFFFFF;
    padding: 35px 70px 45px;
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
}

.make-oredr-stage-choose-city-text{
    font-size: 14px;
    margin-bottom: 25px;
}
.order-form-body-meta-row:last-child:after {
    content: '';
    display: none;
}

.make-oredr-stage-breadcrumps{
    padding-left: 70px;
    display: flex;
    position: absolute;
    transform: translate(0px, -25px);
    gap: 20px;
    color: #7C858B;
    align-items: center;
    font-size: 12px;
    }

    .make-oredr-stage-choose-map{
        padding-top: 25px;
    }
.make-oredr-stage-chooser-body-content-header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}


.make-oredr-stage-chooser-body-content-context{
    padding-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.make-oredr-stage-chooser:hover{
    background-color: white;
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
}

.make-oredr-stage-choose-title{
    padding-top: 25px;
    font-weight: bold;
    font-size: 28px;
    padding-left: 70px;
}
.make-oredr-stage-chooser-body{
    padding: 30px;
    display: grid;
    cursor: pointer;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

.make-oredr-stage-chooser-body img{
    width: 25px;
    height: 25px;
}

.display-none{
    display: none;
}

.make-oredr-stage-breadcrump{
    color: #7C858B;
}
.chooser-none{
    display: none;
}

.make-oredr-stage-chooser.not-none{
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
    background-color: white;


}

.chooser-selected-body-content-inputs{
    display: flex;
    flex-direction: column;
    gap: 25px
}

.chooser-selected-body{
    padding: 30px 70px 40px;
}

.chooser-selected-body-control{
    display: flex;
    align-items: center;
    padding-top: 35px;
    gap: 30px;
}

.chooser-selected-body-content-input-row .chooser-selected-body-content-input-row-title{
    font-size: 12px;
line-height: 18px;
color: #7C858B;
padding-bottom: 5px;
}
.chooser-selected-body-content-input-row input{
border: 1px solid #BDC2C5;
width: 100%;
padding: 9px 15px;
font-size: 14px;
color: #3B3F42;

}
.chooser-selected-body-control button{
    background: #1E4CC6;
border-radius: 100px;
color: white;
border: none;
height: 43px;
width: 180px;
font-weight: 500;
font-size: 14px;
}

.make-order-form .make-order-form-sell{
    background: rgba(59, 63, 66, 0.05);
    padding-top: 25px;
    padding-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 70px;
    padding-left: 70px;

}

.make-order-form-control{
    padding: 35px 0px 45px;
}

.make-order-form-control button{
    height: 43px;
    width: 180px;
    font-weight: 500;
font-size: 14px;
border: none;
background-color: #1E4CC6;
border-radius: 100px;
color: white;
} 

.make-order-form-sell-input{

}
.make-order-form-sell-input input{
    border: 1px solid #BDC2C5;
    padding: 9px 15px;
    width: 100%;
    font-weight: 500;
font-size: 14px;
}

.make-order-form-sell-label{
    font-size: 12px;
    color: #7C858B;
    padding-bottom: 5px;
}

.make-order-form > *{
    margin-left: 70px;
    margin-right: 70px;
}
.make-order-form-sell-body-meta{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.make-order-form-content-row{
    display: grid;
    grid-template-columns: auto 1fr;
}

.make-order-form-content-row-title{
    font-size: 12px;
    color: #7C858B;
    width: 150px;
}

.make-order-form-content-row-value{
    font-weight: 500;
font-size: 14px;
}

.make-order-form-sell-body-meta-row{
    display: grid;
    grid-template-columns: auto 1fr;
}

.make-order-form-sell-body-meta-row-title{
    font-size: 12px;
    color: #7C858B;
    width: 150px;
}
.make-order-form-sell-body-meta-row-value{
    font-weight: 500;
font-size: 14px;
}

.make-order-form-final{
    border-top: 1px dashed rgba(124, 133, 139, 0.3);
}


.make-order-form-title{
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.make-order-form{
    margin-top: 25px;
    box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}
.make-order-form-sell-body-meta{
    padding-top: 25px;
}

.chooser-selected-body-control a{
    font-weight: 500;
color: #1E4CC6;
}

.make-oredr-stage-chooser.not-none .chooser-none{
    display: block;
}

.make-order-form-comment{
    padding-top: 45px;
    padding-bottom: 45px;
}

.make-order-form-comment input{
    border: 1px solid #BDC2C5;
    width: 100%;
    padding: 9px 15px;
    font-size: 14px;
    color: #3B3F42;

}

.make-order-form-comment-label{
    font-size: 12px;
    color: #7C858B;
    padding-bottom: 5px;

}

.finish-order-form-control{
    padding-top: 30px;
}

.finish-order-form-control button{
    height: 43px;
    width: 180px;
    font-weight: 500;
font-size: 14px;
border: none;
background-color: #1E4CC6;
border-radius: 100px;
color: white;
} 

.finish-order-form{
    margin-top: 25px;
    padding: 30px 70px 40px;
    background: #FFFFFF;
box-shadow: 0px 15px 25px rgba(186, 196, 221, 0.5);
}

.finish-order-form-text{
    font-size: 14px;
    padding-top: 10px;
    line-height: 18px;
}


.finish-order-form-title{
    font-weight: bold;
    font-size: 18px;
}

.make-oredr-meta-info-content-row-final{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 5px 35px 40px;
    font-weight: 600;
font-size: 18px;
}
.make-oredr-meta-info-content-row-final::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    transform: translate(0, -23px);
    background: rgba(124, 133, 139, 0.5);
}

.chooser-selected-head{
    background: rgba(59, 63, 66, 0.05);
}


.output-exact{
    position: relative;
}

.new_order-container-oborots-selector{
    display: grid;
    justify-items: center;
    align-items: center;padding: 140px 70px;
}

.new_order-container-oborots-selector-container{
    width: 100%;
    max-width: 600px;
}

.new_order-container-oborots-selector-container button {
    background: #1E4CC6;
border-radius: 48px;
width: 400px;
font-weight: 500;
cursor: pointer;
color: white;
border: none;
font-size: 22px;
height: 58px;
}

.new_order-container-oborots-selector-container-title{
    font-weight: bold;
font-size: 32px;
text-align: center;
padding-bottom: 85px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-output-container #input-text{
    background-color: white;
    border: 1px solid #9DA7AE;
    border-radius: 5px;
    text-align: center;
    height: 70px;
    width: 100%;
    font-weight: bold;
font-size: 32px;
}


.new_order-container-oborots-selector-container-for-btn{
    width: 100%;
    display: grid;
    justify-items: center;
    padding-top: 95px;
}

.range-labal{
    position: absolute;
    padding-top: 5px;
    font-size: 18px;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.label-right{
    justify-self: right;
}

.input-output-container{
    position: relative;
}

.input-output-container #range-input{
    position: absolute;
    transform: translate(0, 10px);
    bottom: 0;
    left: 0;
}

input[type=range] {
    background-color: transparent;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #000000;
    background: #1E4CC6;
    border-radius: 0px;
    border: 0px solid #1E4CC6;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 3px solid #1E4CC6;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1E4CC6;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 1px #000000;
    background: #1E4CC6;
    border-radius: 0px;
    border: 0px solid #1E4CC6;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 3px solid #1E4CC6;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #1E4CC6;
    border: 0px solid #1E4CC6;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #1E4CC6;
    border: 0px solid #1E4CC6;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000031;
    border: 3px solid #1E4CC6;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #1E4CC6;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #1E4CC6;
  }

















@media only screen and (max-width: 1350px) {
    header {
        padding: 0 40px;
    }
    footer {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 800px) {
    .login-contaniner form {
        width: 100%;
    }
    .new_order-container-selector {
        justify-content: center;
    }
    header {
        padding: 0 20px;
    }
    footer {
        padding: 0 20px;
    }
    .new_order-container-title {
        padding: 0 30px 45px;
    }
    .new_order-comtainer-header {
        padding: 25px 30px 20px;
    }
    .new_order-container-selector {
        padding: 0 30px;
    }
    .new_order-meta-content {
        padding-left: 20px;
    }
    .new_order-meta-content::after {
        content: "";
        position: absolute;
        left: 20px;
        top: 50%;
        width: calc(100% - 40px);
        background-color: #7C858B;
        height: 1px;
    }
}

@media only screen and (max-width: 500px) {
    .login-contaniner form .form-body {
        padding: 20px;
    }
}